<footer class="footer" role="contentinfo">
	<div class="wrapper">
		<div class="footer-logo">
			<a href="/" class="mini-logo"><img src="/theme/fier-panda/images/logo.gif" alt="Fier Panda"></a>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/fierpanda" class="social-link"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/fierpanda" class="social-link"><i class="fa fa-twitter"></i></a>				
			<a href="http://www.fier-panda.fr/article/integrer-fier-panda" class="social-link"><i class="fa fa-users"></i></a>
		</div>
	</div>
</footer>	