<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cuteroulette</title>
        <meta name="description" content="Fier Panda est un magazine des Internets top cool sur la culture bis mais aussi sur d'autres trucs moins chiants comme les nichons."/>
        <meta name="generator" content="Bolt">
        <link rel="canonical" href="http://panda.f00.be/">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" type="text/css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" type="text/css">
        <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="http:////cdn.jsdelivr.net/jquery.tubular/1.0.1/jquery.tubular.1.0.js"></script>
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
            }
            html {
                height: 100%;
            }
            body {
                background-size: 100%;
                width: 100%;
                height: 100%;
                text-align: center;
                position: relative;
                font-family: Arial;
            }
            a {
                margin-top: 15px;
                text-decoration: none;
                padding: 50px;
            }
            a img{
                width: 60px;
                height: auto;
            }
            h1, span {
                margin-top: 0;

                color: rgb(237, 120, 106);
                text-shadow: rgba(0, 0, 0, 0.2) 2px 3px 0px;
            }
            h1 {
                margin-top: 15%;
                margin-bottom: 5px;
                cursor: auto;
                font-size: 70px;
                font-weight: bold;
                height: auto;
                letter-spacing: 13px;
                text-decoration: none;
                text-transform: uppercase;
            }
            .button {
                z-index: 100;
                -webkit-background-clip: border-box;
                -webkit-background-origin: padding-box;
                -webkit-background-size: auto;
                -webkit-box-shadow: rgba(0, 0, 0, 0.121569) 1px 2px 0px 0px;
                -webkit-transition-delay: 0s;
                -webkit-transition-duration: 0.25s;
                -webkit-transition-property: all;
                -webkit-transition-timing-function: ease-in-out;
                background-attachment: scroll;
                background-clip: border-box;
                background-color: rgb(237, 120, 106);
                background-image: none;
                background-origin: padding-box;
                background-size: auto;
                border-bottom-color: rgba(255, 255, 255, 0);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-bottom-style: none;
                border-bottom-width: 0px;
                border-image-outset: 0px;
                border-image-repeat: stretch;
                border-image-slice: 100%;
                border-image-source: none;
                border-image-width: 1;
                border-left-color: rgb(255, 255, 255);
                border-left-style: none;
                border-left-width: 0px;
                border-right-color: rgb(255, 255, 255);
                border-right-style: none;
                border-right-width: 0px;
                border-top-color: rgb(255, 255, 255);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-top-style: none;
                border-top-width: 0px;
                box-shadow: rgba(0, 0, 0, 0.121569) 1px 2px 0px 0px;
                box-sizing: border-box;
                color: rgb(255, 255, 255);
                cursor: auto;
                display: inline-block;
                font-family: 'Source Sans Pro';
                font-size: 15px;
                font-style: normal;
                font-variant: normal;
                font-weight: 600;
                height: 85px;
                letter-spacing: 2px;
                line-height: 28.59375px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 0px;
                padding-bottom: 12.515625px;
                padding-left: 40.515625px;
                padding-right: 40.515625px;
                padding-top: 12.515625px;
                position: relative;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition-delay: 0s;
                transition-duration: 0.25s;
                transition-property: all;
                transition-timing-function: ease-in-out;
                vertical-align: baseline;
            }
            .absleft {
                position: absolute;
                left: 30px;
                bottom: 30px;
            }
            .absright {
                position: absolute;
                right: 30px;
                bottom: 30px;
            }
            footer {
                z-index: 100;
                position: absolute;
                left: 0;
                bottom: 30px;
                height: 60px;
                width: 100%;
            }
            .social {
                z-index: 100;
                display: inline-block;
                margin-right: 5px;
                color: white;
                padding: 5px 10px;
            }
            .social:hover {
                color: white;
            }
            .facebook {
                background-color: #45619d;
            }
            .twitter {
                background-color: #7cd5fd;
            }
            
            .pinterest {
                background-color: #cb2027;
            }
        </style>
    </head>
    <body id="wrapper">
{#        <h1> - Boobsroulette ! - </h1>#}
        <footer>
            <a 
                href="https://www.facebook.com/sharer/sharer.php?u=http://www.fier-panda.fr/cuteroulette" 
                title="Share Cuteroulette on Facebook!" 
                class="social facebook"
                onclick="
                              window.open(
                                this.href, 
                                'facebook-share-dialog', 
                                'width=626,height=436'); 
                              return false;"
                >
                Facebook
            </a>
            <a 
                href="http://twitter.com/home/?status=CUTEROULETTE! http://www.fier-panda.fr/cuteroulette via @fierpanda" 
                title="Share Cuteroulette on Twitter!" 
                class="social twitter"
                onclick="
                              window.open(
                                this.href, 
                                'twitter-share-dialog', 
                                'width=626,height=436'); 
                              return false;"
                >
                Twitter
            </a>
        </footer>
        <a class="button absright" href="http://www.fier-panda.fr/cuteroulette"><img src="{{ image('refresh.png') }}" /></a>
        <a class="button absleft" href="http://www.fier-panda.fr"><img src="{{ image('home.png') }}" /></a>
        <script type="text/javascript">
        $('document').ready(function() {
            var options = { videoId: '{{ cuteness }}', start: {{ start }}, repeat: true };
            $('#wrapper').tubular(options);
        });
        </script>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32560149-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>
