<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404! - Fier Panda - Bon goût. Mauvaise foi. Petits chats.</title>
        <meta name="description" content="Fier Panda est un magazine des Internets top cool sur la culture bis mais aussi sur d'autres trucs moins chiants comme les nichons."/>
        <meta name="generator" content="Bolt">
        <link rel="canonical" href="http://panda.f00.be/">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700" type="text/css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" type="text/css">
        <style type="text/css">
            body {
                background-image: url('{{ image('404.gif') }}');
                background-size: 100%;
                text-align: center;
            }
            h1, h2 {
                margin-top: 0;
                font-family: Arvo;
                color: rgb(237, 120, 106);
                text-shadow: rgba(0, 0, 0, 0.2) 2px 3px 0px;
            }
            h1 {
                margin-top: 15%;
                margin-bottom: 5px;
                cursor: auto;
                font-size: 70px;
                font-weight: bold;
                height: auto;
                letter-spacing: 13px;
                text-decoration: none;
                text-transform: uppercase;
            }
            a {
                -webkit-background-clip: border-box;
                -webkit-background-origin: padding-box;
                -webkit-background-size: auto;
                -webkit-box-shadow: rgba(0, 0, 0, 0.121569) 1px 2px 0px 0px;
                -webkit-transition-delay: 0s;
                -webkit-transition-duration: 0.25s;
                -webkit-transition-property: all;
                -webkit-transition-timing-function: ease-in-out;
                background-attachment: scroll;
                background-clip: border-box;
                background-color: rgb(237, 120, 106);
                background-image: none;
                background-origin: padding-box;
                background-size: auto;
                border-bottom-color: rgba(255, 255, 255, 0);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-bottom-style: none;
                border-bottom-width: 0px;
                border-image-outset: 0px;
                border-image-repeat: stretch;
                border-image-slice: 100%;
                border-image-source: none;
                border-image-width: 1;
                border-left-color: rgb(255, 255, 255);
                border-left-style: none;
                border-left-width: 0px;
                border-right-color: rgb(255, 255, 255);
                border-right-style: none;
                border-right-width: 0px;
                border-top-color: rgb(255, 255, 255);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-top-style: none;
                border-top-width: 0px;
                box-shadow: rgba(0, 0, 0, 0.121569) 1px 2px 0px 0px;
                box-sizing: border-box;
                color: rgb(255, 255, 255);
                cursor: auto;
                display: inline-block;
                font-family: 'Source Sans Pro';
                font-size: 15px;
                font-style: normal;
                font-variant: normal;
                font-weight: 600;
                height: 54.03125px;
                letter-spacing: 2px;
                line-height: 28.59375px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 0px;
                padding-bottom: 12.515625px;
                padding-left: 40.515625px;
                padding-right: 40.515625px;
                padding-top: 12.515625px;
                position: relative;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition-delay: 0s;
                transition-duration: 0.25s;
                transition-property: all;
                transition-timing-function: ease-in-out;
                vertical-align: baseline;
            }
        </style>
    </head>
    <body>
        <h1> - 404 - </h1>
        <h2>Oups, on dirait bien que cette page n'existe pas !</h2> 
        <a href="http://www.fier-panda.fr">Retourner sur le site</a>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32560149-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>